---
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <div class="mx-auto p-5 max-w-screen-sm backdrop-blur-sm saturate-200 bg-gradient-to-b from-neutral-100 bg-opacity-75 dark:from-neutral-900 dark:bg-opacity-25 from-10% rounded-b-lg border-b sm:border-x transition-colors duration-200 ease-in-out border-black/15 dark:border-white/20">
      <div class="flex flex-wrap gap-y-2 justify-between">
        <Link href="/" underline={false}>
          <div class="font-semibold">
            {SITE.NAME}
          </div>
        </Link>
        <nav class="flex gap-1">
          <Link href="/blog">
            blog
          </Link>
          <span>
            {`-`}
          </span>
          <Link href="/work">
            work
          </Link>
          <span>
            {`-`}
          </span>
          <Link href="/projects">
            projects
          </Link>
        </nav>
      </div>
    </div>
</header>
